<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Luca's Pizza</title>
  </head>
  <body>
    <h1>Luca's Pizza Help</h1>

    <h2>Menu</h2>
    <p>Our menu features a variety of delicious pizzas, including:</p>
    <ul>
      <li>Pepperoni</li>
      <li>Margherita</li>
      <li>Hawaiian</li>
      <li>Vegetarian</li>
      <li>Meat Lovers</li>
    </ul>

    <h2>Ordering Online</h2>
    <p>You can order Luca's Pizza online through our website. Simply select the items you'd like to order and complete the checkout process. You can choose to have your order delivered or pick it up at one of our locations.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns, please don't hesitate to contact us. You can reach us by phone at (555) 123-4567 or by email at info@lucaspizza.com.</p>
  </body>
</html>