<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Luca's Pizza </title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
  </body>
</html>
